# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Android
/android/.cxx/
/android/.gradle/
/android/local.properties
/android/**/build/

# iOS
/ios/.symlinks/
/ios/Pods/
/ios/Podfile.lock
/ios/**/build/
/ios/**/xcuserdata/

# macOS
/macos/Build/
/macos/Pods/
/macos/Podfile.lock
/macos/**/xcuserdata/

# Linux
/linux/flutter/ephemeral/
/linux/flutter/generated_*

# Windows
/windows/flutter/ephemeral/
/windows/flutter/generated_*

# VS Code (раскомментируйте, если не хотите коммитить настройки VS Code)
.vscode/

# Файлы состояния эмулятора
*.lock
.secrets

# Файлы Firebase (если используете)
google-services.json
GoogleService-Info.plist